/* Global styles */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap);


:root {
    --primary-color: #FFA533;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    font-size: 16px !important;
    color: #000;
    font-family: 'Roboto', sans-serif !important;
    min-width: 420px;
    overflow: auto;
}

button {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif !important;
    border: none;
    padding: 0.8rem 1.6rem;
    border-radius: 40px;
    cursor: pointer;
}


/* Navbar styles */

.app-mat-toolbar {
    width: 100%;
    background: #000;
}

.app-mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    padding: 11px 16px;
}

.navbar-logo,
.navbar-logo:hover {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700;
    color: #fff !important;
    text-decoration: none;
    font-size: 1.4rem;
}

.navbar-cta {
    background: #222;
    color: #fff;
}

.navbar-cta:hover {
    background: #333;
}

/* Content Styles */

.post-content h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 2rem 0 1rem 0;
}

.post-content h3 {
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 2rem 0 1rem 0;
}

.post-content p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1rem 0;
}

.post-content img {
    width: 95%;
    margin: 1.5rem auto;
    display: block;
}

.post-content .sources p {
    font-size: 0.7rem !important;
    line-height: 1rem;
}

/* Footer Styles */

.footer-cta {
    width: 200px;
    background: var(--primary-color);
    color: #fff;
    box-shadow: #000 0 0 3px;
    margin: 0 auto 3rem auto;
}

.footer-cta:hover {
    background: #E59400;
}



.footer {
    background-color: #000;
}

.footer-wrapper {
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
}

.footer-container-left {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.footer-container-left>div {
    font-size: 0.8rem;
    line-height: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

}

.footer-container-left>div p {
    margin: 0;
}

.footer-container-left-text h1 {
    font-size: 0.9rem;
    line-height: 0.9rem;
    color: #fff;
    font-weight: 500;
    margin: 0;
}

.footer-container-left-text p {
    font-size: 0.7rem;
    line-height: 0.7rem;
    color: #ccc;
}

.footer-container-right {
    display: flex;
    gap: 2rem;
}

.footer-container-right svg {
    color: white;
    fill: white;
    width: 25px;
    height: 25px;
}

@media (max-width: 420px) {
    .footer-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .footer-container-right {
        gap: 2.5rem;
    }
}

/* Minimize Styles */
.min-chat-btn {
    display: none;
    position: fixed;
    bottom: 0;
    /* Adjust as needed */
    right: 0;
    /* Adjust as needed */
    z-index: 100;
    /* Ensures it stays above other content */
    background-color: var(--primary-color);
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;
    padding: 0.6rem;
    border-radius: 0.4rem 0 0 0;   
}

/* Modal Styles */

.modal {
    display: none;
    justify-content: center;
    align-items: center;  
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 110;
  
}

.modal-content {
    background-color: #fff;
    border-radius: 25px;
    max-width: 1024px;
    width: 85%;
    height: 85%;
    padding: 1rem;
}

.modal-content iframe {
  border: none;
  height: 100%;
}