/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Now:wght@600&display=swap');

:root {
    --primary-color: #FFA533;
}

body{
    font-size: 16px !important;
    color: #000;
    font-family: 'Roboto', sans-serif !important;
}

button {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif !important;
    border: none;
    padding: 0.8rem 1.6rem;
    border-radius: 40px;
    cursor: pointer;
}


/* Navbar styles */

.app-mat-toolbar{
    width: 100%;
    background: #000;
}

.app-mat-toolbar-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0.6rem 1rem;
}

.navbar-logo, .navbar-logo:hover{
    font-family: 'Now', sans-serif;
    font-weight: 600;
    color:#fff !important;
    text-decoration: none;
    font-size: 1.4rem;
}

.navbar-cta{
    background: #222;
    color: #fff;
}

.navbar-cta:hover{
    background: #333;
}

/* Content Styles */
    
.post-content img {
    width: 95%;
    margin: auto;
    display: block;
}

.slinks a, .slinks a:hover{
    font-size: 0.8rem;
    text-decoration: none;
    display: block;
    line-height: 1.5rem;

}

/* Footer Styles */

.footer {
    background-color: #000;
}

.footer-wrapper {
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1.5rem 1rem;
}

.footer-container-left {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.footer-container-left > div {
    font-size: 0.8rem;
    line-height: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  
}

.footer-container-left > div p {
    margin: 0;
}

.footer-container-left-text h1 {
    font-size: 0.9rem;
    line-height: 0.9rem;
    color: #fff;
    font-weight: 500;
    margin: 0;
}

.footer-container-left-text p {
    font-size: 0.7rem;
    line-height: 0.7rem;
    color: #ccc;
}

.footer-container-right {
    display: flex;
    gap: 1rem;
}

.footer-container-right  svg {
    color:white;
    fill: white;
    width: 25px;
    height: 25px;
}

@media (max-width: 425px) {
    .footer-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
}